{% extends "base.html" %}

{% block content %}

    <h1>Автор: {{author}}</h1>

    <p>{{author.about}}</p>

    {% if post_list %}
    <h3>Посты</h3>
    <ul>

      {% for post in post_list %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.name }}</a> ({{post.post_date}}) {% if post.status__read %} прочитано {% endif %}</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>This author hasn't posted anything yet.</p>
    {% endif %}


    {% if author != logged_used %}
      {% if author in logged_used.subscribed.all %}
        <form action="{{ author.id }}/unsubscribe/"  method="post">
          {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Отписаться">
        </form>
      {% else %}
        <form action="{{ author.id }}/subscribe/"  method="post">
          {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Подписаться">
        </form>
      {% endif %}
    {% endif %}

{% endblock %}
