{% extends "base.html" %}

{% block content %}

<h1>{{ post.name }}</h1>
<p><strong>Опубликовано:</strong> {{ post.post_date }}</p>
<p><strong>Автор:</strong> <a href="{% url 'posts-by-author' post.author.pk %}">{{ post.author }}</a></p>
<p style="white-space:pre-wrap;">{{ post.description }}</p>

{% if read %}
  <form action="markasread/"  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="Прочитано" disabled/>
  </form>
{% else %}
  <form action="markasread/"  method="post">
    {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Пометить прочитанным">
  </form>
{% endif %}

{% endblock %}
